html {
    height: 100%;
}
body {
    background: #130912;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}

.main-container {
    height: 100%;
    width: 100%;
}

.topbar {
    background:#B14623;
    color: #fff;
    height: 10vh;
    position:relative;
}
.top-tech-button {
    display: inline-block;
    float: left;
    line-height: 10vh;
    height: 100%;
}
.money-box {
    display: block;
    font-size: 1.5em;
    line-height: 10vh;
    margin: 0 auto;
    text-align: center;
    width: 10em;
}
.persecond {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.menu-button {
    display: inline-block;
    float: right;
    line-height: 10vh;
    height: 100%;
    text-decoration: line-through;
}
.sexy-line { 
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
    height: 1px;
}

.gamespace {
    background: url('stars.png');
    height: 90vh;
    overflow: hidden;
    position: relative;
    -webkit-animation: stars 60s linear infinite;
    -moz-animation: stars 60s linear infinite;
    animation: stars 60s linear infinite;
}
@-webkit-keyframes stars {
  0% { background-position: 0 0; }
  100% { background-position: 1680px 0; }
}
@-moz-keyframes stars {
  0% { background-position: 0 0; }
  100% { background-position: 1680px 0; }
}
@keyframes stars {
  0% { background-position: 0 0; }
  100% { background-position: 1680px 0; }
}

.ticker{
    background: #222;
    height: 2em;
    overflow: hidden;
    position: relative;
}
.ticker p {
    color: #fff;
    display: inline-block;
    left: 0;
    line-height: 2em;
    margin: 0;
    padding: 0 2em;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    white-space: nowrap;
}

.planetspace {
    background: url('planet.gif');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 640px;
    height: 100%;
    position: relative;
}
.survey-button {
    background: #B14623;
    border: solid 3px #F6921D;
    color: #fff;
    display: block;
    font-family: 'Ubuntu';
    font-size: 1.5em;
    margin: 0 auto;
    outline: none;
    padding: 1rem;
    transition: opacity 1s;
    width: 10em;
}
.survey-button:hover {
    background: #F6921D;
    border: solid 3px #B14623;
}
.survey-box {
    left: 50%;
    position: absolute;
    top: 160px;
    transform: rotate(40deg);
}
.survey-thing {
    background: yellow;
    height: 4px;
    opacity: 0;
    transform: translate( 200px, 0px );
    width: 4px;
}
.orbit .survey-thing {
    -webkit-animation: orbit 1s linear;
    -moz-animation: orbit 1s linear;
    animation: orbit 1s linear;
}
@keyframes orbit {
  0% { transform: translate( 200px, 0px ); opacity: 0; }
  20% { transform: translate( 150px, 40px ); opacity: 0.7; }
  40% { transform: translate( 50px, 60px ); opacity: 1; }
  60% { transform: translate( -50px, 60px ); opacity: 1; }
  80% { transform: translate( -150px, 40px ); opacity: 0.7; }
  100% { transform: translate( -200px, 0px ); opacity: 0; }
}
@-moz-keyframes orbit {
  0% { transform: translate( 200px, 0px ); opacity: 0; }
  20% { transform: translate( 150px, 40px ); opacity: 0.7; }
  40% { transform: translate( 50px, 60px ); opacity: 1; }
  60% { transform: translate( -50px, 60px ); opacity: 1; }
  80% { transform: translate( -150px, 40px ); opacity: 0.7; }
  100% { transform: translate( -200px, 0px ); opacity: 0; }
}
@-webkit-keyframes orbit {
  0% { transform: translate( 200px, 0px ); opacity: 0; }
  20% { transform: translate( 150px, 40px ); opacity: 0.7; }
  40% { transform: translate( 50px, 60px ); opacity: 1; }
  60% { transform: translate( -50px, 60px ); opacity: 1; }
  80% { transform: translate( -150px, 40px ); opacity: 0.7; }
  100% { transform: translate( -200px, 0px ); opacity: 0; }
}

.menuspace {
    background: #F6921D;
    bottom: 0;
    max-height: 50%;
    overflow: auto;
    position: absolute;
    width: 100%;
}
.expensive {
    color: #c00;
}
.fade {
    opacity: 0.5;
    pointer-events: none;
}
.hide {
    display: none !important;
}

.tabs {
    background: #B14623;
    color: #fff;
    display: flex;
}
.tab {
    flex-grow: 1;
    font-size: 1.2em;
    padding: 1rem;
    text-align: center;
}
.tab.active {
    background: #F6921D;
}
.tab .notification {
    background: #F6921D;
    display: inline-block;
    margin-left: 0.5em;
    padding: 0.25em 0.5em;
}

.list {
    display: none;
    margin: 0;
    padding: 0 0.5em;
}
.list.active {
    display: block;
}

.building,.technology {
    background: rgba(255,255,255,0.1);
    color: #fff;
    min-height: 8em;
    overflow: auto;
    position: relative;
}
.building + .building, .technology + .technology {
    margin-top: 0.25em; 
}
.building h2,.technology h2 {
    background: rgba(177, 70, 35,0.4);
    border-bottom: solid 1px #ccc;
    display: inline-block;
    margin: 0;
    text-shadow: 1px 1px 1px #000;
    width: calc(100% - 8rem);
}
.building .cost,.technology .cost{
    display: inline-block;
    margin: 0.25em;
    padding: 0 0.5em;
}
.building>p , .technology>p{
    float: right;
    width: 50%;
}
.building.bad {
    
}

.icon {
    background: url('sprite.png'), rgba(177, 70, 35,0.4);
    float: left;
    font-weight: 700;
    height: 8em;
    overflow: 0;
    position: relative;
    width: 8em;
}
.sell-button {
    background: #B14623;
    bottom: 0;
    height: 2em;
    left: 0;
    position: absolute;
    width: 2em;
}
.sell-button::before {
    bottom: 0.5em;
    content: '-';
    position: absolute;
    text-align: center;
    width: 2em;
}
.buy-button {
    background: #B14623;
    bottom: 0;
    height: 2em;
    position: absolute;
    right: 0;
    width: 100%;
}
.buy-button::before {
    bottom: 0.5em;
    content: 'Destroy!';
    position: absolute;
    text-align: center;
    width: 100%;
}
.sell-button + .buy-button {
    width: 2em;
}
.sell-button + .buy-button::before {
    content: '+';
}

.building .icon>p {
    bottom: 0;
    left: 0;
    margin: 0.5em 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    transform: translateY(0px) scale(1);
    transition: transform 0.1s;
    width: 100%;
}
.building p.bounce {
    transform: translateY(-10px) scale(2);
}
.building p.fallover {
    transform: rotateX(180deg);
    transition-duration: 0.3s;
}

.technology .buy-button::before {
    content: 'Buy';
}
.technology.bought {
    background: rgba(0,200,0,0.4);
}

.modal {
    background: #3E1C33;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
    width: 100%;
}
.modal.open {
    transform: translateY(0%);
}
.modal h1 {
    background: #602749;
    color: #fff;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}
.modal-buttons {
    text-align: center;
}
.modal button {
    background: #602749;
    border: solid 3px #3E1C33;
    color: #fff;
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: 1.5em;
    margin: 0.5rem;
    outline: none;
    padding: 1rem;
    width: 10em;
}
.modal button:hover {
    background: #3E1C33;
    border: solid 3px #602749;
}
.modal .content {
    color: #fff;
    margin: 1rem auto;
    max-width: 50rem;
}

.list-ad {
    background: magenta;
    height: 5em;
    margin: 1em auto;
    max-width: 40em;
}

@media (min-width:80rem){
    .ticker, .planetspace{
        width: 50%;
    }
    .planetspace{
        margin-top: 5em;
    }
    .menuspace {
        height: 100%;
        max-height: 100%;
        right: 0;
        width: 50%;
    }
}